.item-desc{
    
    display: none;
    /* animation: cardAnime 3s once; */
}
.item-img{
    /* animation: imgAnime 1s infinite; */
}

@keyframes cardAnime{
    0%{
        translate: 0px 50px;
        opacity: 0;
    }
    /* 50%{
        opacity: 0;
    } */
    100%{
        translate: 0px 0px;
        opacity: 1;
    }
}
@keyframes imgAnime{
    0%{
        translate: 0px -20px;
        opacity: 0;
    }
    100%{
        translate: 0px 0px ;
        opacity: 1;
    }
}