.pizzaList-body{
    overflow-y: scroll;
    /* background-size: contain; */
    /* animation: vegLoad 0.5s ; */
}
.pizzaList-body::-webkit-scrollbar{
    display: none;
}

.pizza-body{
    /* animation: vegLoad 0.5s ; */
}

.vegAnime{
        animation: vegLoad 0.5s ;
}
.nonVegAnime{
        animation: nonVegLoad 0.5s ;
}

@keyframes vegLoad{
    0%{
        background-color: rgb(1, 213, 1);
    }
    100%{
        background-color: rgba(4, 249, 4, 0.547);
    }
}

@keyframes nonVegLoad{
    0%{
        background-color: orangered;

    }

    100%{
        background-color: rgb(252, 16, 16);
   
    }
}